---
import Layout from "../layouts/Layout.astro";

import homeStudenChoise from "../img/StundentChoise/home.png";
import dashboardStudenChoise from "../img/StundentChoise/dashboard.png";
import panelVotacionStudenChoise from "../img/StundentChoise/panelVotaciones.png";
import estudianteStudenChoise from "../img/StundentChoise/estudiante.png";

import homeEfactura from "../img/Efactura/home.png";
import facturasEfactura from "../img/Efactura/facturas.png";
import categoriaEfactura from "../img/Efactura/categoria.png";
import productosEfactura from "../img/Efactura/producto.png";
import comprasEfactura from "../img/Efactura/compras.png";

const imagesStudenChoise = [
  {
    src: homeStudenChoise.src,
    alt: "Vista de la página principal del sistema StudentChoice, mostrando el inicio del sistema.",
  },
  {
    src: dashboardStudenChoise.src,
    alt: "Vista del tablero de resultados de elecciones en el sistema StudentChoice.",
  },
  {
    src: panelVotacionStudenChoise.src,
    alt: "Captura de pantalla del panel de votación del sistema StudentChoice.",
  },
  {
    src: estudianteStudenChoise.src,
    alt: "Vista detallada de los resultados individuales de un estudiante en StudentChoice.",
  },
];

const imagesEfactura = [
  {
    src: homeEfactura.src,
    alt: "Vista de la página principal del sistema eFactura, mostrando el inicio del sistema.",
  },
  {
    src: facturasEfactura.src,
    alt: "Vista de la sección de facturas generadas en el sistema eFactura.",
  },
  {
    src: productosEfactura.src,
    alt: "Captura de pantalla de la gestión de productos en el sistema eFactura.",
  },
  {
    src: comprasEfactura.src,
    alt: "Vista de la sección de compras realizadas en el sistema eFactura.",
  },
  {
    src: categoriaEfactura.src,
    alt: "Vista de la sección de categorías de productos en el sistema eFactura.",
  },
];
  ---

<Layout title="Proyectos">
  <div class="mx-auto px-4 py-24 bg-gray-900 text-white">
    <h1 class="text-4xl md:text-6xl font-bold text-white text-center mb-12">
      Proyectos
    </h1>

    <section class="bg-dark-gray p-8 rounded-lg shadow-lg text-white">
      <article class="flex flex-wrap md:flex-nowrap items-center gap-6">
        <div class="relative w-full md:w-1/2 h-80 md:h-96 image-StudenChoise">
          {
            imagesStudenChoise.map((img, index) => (
              <img
                key={index}
                src={img.src}
                alt={img.alt}
                class={`absolute w-4/5 h-full object-cover rounded-lg shadow-lg transition-all duration-1000 ease-in-out ${
                  index === 0
                    ? "z-30 top-0 left-0"
                    : index === 1
                      ? "z-20 top-5 left-10"
                      : "z-10 top-10 left-20"
                }`}
              />
            ))
          }
        </div>

        <div class="w-full md:w-1/2 mt-8 md:mt-0 md:pl-8">
          <h2 class="text-3xl font-semibold mb-4">StudentChoice</h2>
          <p class="mb-6">
            Sistema de votación estudiantil desarrollado en <span
              class="font-bold">Laravel</span
            >, utilizando <span class="font-bold">Jetstream</span>, <span
              class="font-bold">Livewire</span
            > y
            <span class="font-bold">Tailwind CSS</span>, junto a una base de
            datos relacional como
            <span class="font-bold">PostgreSQL</span>. Garantiza un proceso de
            votación seguro, eficiente y fácil de usar.
          </p>
          <ul class="list-disc pl-6 mb-6">
            <li>Autenticación de usuarios y gestión de roles.</li>
            <li>
              Panel de administración para gestionar elecciones y candidatos.
            </li>
            <li>Resultados confiables e inmutables.</li>
            <li>Interfaz moderna y accesible.</li>
          </ul>
          <h3 class="text-2xl font-semibold mb-2">Rol:</h3>
          <p class="mb-4">
            Desarrollo completo del sistema, asegurando la eficiencia, seguridad
            y modernidad en el proceso electoral.
          </p>
          <h3 class="text-2xl font-semibold mb-2">Tecnologías:</h3>
          <ul class="list-none flex flex-wrap gap-2 md:gap-4">
            <li
              class="px-3 py-1 bg-blue-500 rounded-lg shadow-lg w-full sm:w-auto text-center"
            >
              Laravel
            </li>
            <li
              class="px-3 py-1 bg-green-500 rounded-lg shadow-lg w-full sm:w-auto text-center"
            >
              Jetstream
            </li>
            <li
              class="px-3 py-1 bg-purple-500 rounded-lg shadow-lg w-full sm:w-auto text-center"
            >
              Livewire
            </li>
            <li
              class="px-3 py-1 bg-teal-500 rounded-lg shadow-lg w-full sm:w-auto text-center"
            >
              Tailwind CSS
            </li>
            <li
              class="px-3 py-1 bg-blue-500 rounded-lg shadow-lg w-full sm:w-auto text-center"
            >
              PostgreSQL
            </li>
          </ul>
          <a
            href="https://github.com/2A2G/StudentChoice"
            target="_blank"
            class="mt-6 inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg transition-transform duration-300 hover:scale-105"
          >
            Ver proyecto
          </a>
        </div>
      </article>
    </section>

    <section class="bg-dark-gray p-8 rounded-lg shadow-lg text-white">
      <article class="flex flex-wrap md:flex-nowrap items-center gap-6">
        <div class="relative w-full md:w-1/2 h-80 md:h-96 image-EFactura">
          {
            imagesEfactura.map((img, index) => (
              <img
                key={index}
                src={img.src}
                alt={img.alt}
                class={`absolute w-4/5 h-full object-cover rounded-lg shadow-lg transition-all duration-1000 ease-in-out ${
                  index === 0
                    ? "z-30 top-0 left-0"
                    : index === 1
                      ? "z-20 top-5 left-10"
                      : "z-10 top-10 left-20"
                }`}
              />
            ))
          }
        </div>

        <div class="w-full md:w-1/2 mt-8 md:mt-0 md:pl-8">
          <h2 class="text-3xl font-semibold mb-4">E-Factura</h2>
          <p class="mb-6">
            E-Factura es un sistema diseñado para implementar la facturación
            electrónica a través de la integración con las API’s de Factus
            Halltec. Este proyecto automatiza y facilita el proceso de
            facturación, asegurando el cumplimiento de las normativas legales
            vigentes y optimizando los flujos de trabajo.
          </p>
          <ul class="list-disc pl-6 mb-6">
            <li>Generación automática de facturas electrónicas.</li>
            <li>Validación precisa de la información fiscal.</li>
            <li>Envío seguro de facturas a las entidades correspondientes.</li>
            <li>
              Mantenimiento de un registro organizado de facturas emitidas.
            </li>
          </ul>
          <h3 class="text-2xl font-semibold mb-2">Rol:</h3>
          <p class="mb-4">
            Desarrollo integral del sistema, garantizando la eficiencia, la
            seguridad y el cumplimiento de los requisitos legales en el proceso
            de facturación electrónica.
          </p>
          <h3 class="text-2xl font-semibold mb-2">Tecnologías:</h3>
          <ul class="list-none flex flex-wrap gap-2 md:gap-4">
            <li
              class="px-3 py-1 bg-blue-500 rounded-lg shadow-lg w-full sm:w-auto text-center"
            >
              Laravel
            </li>
            <li
              class="px-3 py-1 bg-green-500 rounded-lg shadow-lg w-full sm:w-auto text-center"
            >
              Jetstream
            </li>
            <li
              class="px-3 py-1 bg-purple-500 rounded-lg shadow-lg w-full sm:w-auto text-center"
            >
              Livewire
            </li>
            <li
              class="px-3 py-1 bg-teal-500 rounded-lg shadow-lg w-full sm:w-auto text-center"
            >
              Tailwind CSS
            </li>
            <li
              class="px-3 py-1 bg-blue-500 rounded-lg shadow-lg w-full sm:w-auto text-center"
            >
              PostgreSQL
            </li>
          </ul>
          <a
            href="https://github.com/2A2G/E-Factura"
            target="_blank"
            class="mt-6 inline-block bg-blue-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg transition-transform duration-300 hover:scale-105"
          >
            Ver proyecto
          </a>
        </div>
      </article>
    </section>
  </div>

  <script>
    const setupCarousel = (containerSelector) => {
      let currentIndex = 0;
      const imageContainer = document.querySelector(containerSelector);

      if (!imageContainer) return;

      const images = imageContainer.querySelectorAll("img");

      if (images.length === 0) return;

      setInterval(() => {
        images.forEach((img, i) => {
          img.classList.remove("z-30", "z-20", "z-10");
          img.style.transform = `translateY(${i === currentIndex ? "-10px" : "0"})`;
        });

        currentIndex = (currentIndex + 1) % images.length;

        images[currentIndex].classList.add("z-30");
        images[(currentIndex + 1) % images.length].classList.add("z-20");
        images[(currentIndex + 2) % images.length].classList.add("z-10");
      }, 2000);
    };

    setupCarousel(".image-StudenChoise");
    setupCarousel(".image-EFactura");
  </script>
</Layout>
